@model StudentVM
@{
    ViewData["Title"] = "Create Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Create Student</h1>

<<<<<<< HEAD
<form class="row g-3" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="col-12">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="col-12">
        <label asp-for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="student@mail.com">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
=======
<div class="row justify-content-center">
    <div class="col-md-6">
        <form class="row g-3" method="post">
            <div class="col-12">
                <label asp-for="Name" class="form-label">Name</label>
                <input type="text" class="form-control form-control-lg" asp-for="Name" placeholder="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="col-12">
                <label asp-for="RegNo" class="form-label">Registration No</label>
                <input type="text" class="form-control form-control-lg" asp-for="RegNo" placeholder="Registration No">
                <span class="text-danger" asp-validation-for="RegNo"></span>
            </div>
            <div class="col-12">
                <label asp-for="Email" class="form-label">Email</label>
                <input type="email" class="form-control form-control-lg" asp-for="Email" placeholder="student@mail.com">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-lg btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
>>>>>>> 1729c4725e92cd71055bf60c45cf29f8d8d1d044
